{% load static %}

{% if msg.text %} 
    <div class="my-msg-container">
        <div class="msg-text">{{ msg.text }}</div>
        <div class="msg-info-date">
            <p class="msg-date-text">{{ msg.created_at|date:"H:i" }}</p>
            <img class="msg-img" src="{% static 'images/msg/open.svg' %}" alt="open">
        </div>
    </div>
{% endif %}

{% for image_obj in msg.images.all %}
    {% if LOCAL == "False" %}
        <img class="send-message-image-my load-message-image" src="{% if LOCAL == 'False' %}http://192.168.0.145:8020/media/{% else %}/media/{% endif %}{{ image_obj.image }}" alt="img">
    {% else %}
        <img class="send-message-image-my load-message-image" src="{% if LOCAL == 'False' %}http://192.168.0.145:8020/media/{% else %}/media/{% endif %}{{ image_obj.image }}" alt="img">
    {% endif %}
{% endfor %}