.info-container, .main-container {
    display: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 6.5rem);
    margin-top: 6.5rem;
}

.auth-container{
    width: 61rem;
    height: 34.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.auth-form-container {
    width: 30.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 1.4rem;
    padding: 2.75rem;
    z-index: 100;

    transition: height 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.registration_form {
    height: 34.5rem;
}

.login_form {
    height: 30rem;
}

.confirm_email_form {
    height: 27.75rem;
}


.auth-navigation {
    width: 25rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
}

.auth-text {
    position: relative;
    cursor: pointer;
    color: var(--text-muted);
    font-weight: 500;
    font-size: 2.125rem;
}

.auth-image-div {
    width: 30.5rem;
    height: 34.5rem;

    position: relative;
    z-index: 0;
}

.auth-text-active {
    color: var(--text-main);
    font-weight: 700;
    font-size: 2.125rem;
    border-bottom: 0.125rem solid var(--text-main);
    padding-bottom: 0.2rem;
    cursor: pointer;
}

.confirm-text-active {
    color: var(--text-main);
    font-size: 2.125rem;
    font-weight: 700;
    cursor: pointer;
}

.auth-image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
    transform: translateX(9rem);
}