{% load static %}
<p class="under-auth-navigation-text">Приєднуйся до World IT</p>

<div class="auth-form">
    <form action="{% url 'registration' %}" method="POST" id="registration_form" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-registration-inputs-div">
            <div class="modal-registration-inputs">
                <p class="registration-text">Електронна пошта</p>
                {{ registration_form.email }}
            </div>
            <div class="modal-registration-inputs">
                <p class="registration-text">Пароль</p>
                <div class="password-wrapper">
                    {{ registration_form.password1 }}
                    <img src="{% static 'images/close_eye.svg' %}" alt="eye" class='password-eye' id='password1_eye'>
                </div>
            </div>
            <div class="modal-registration-inputs">
                <p class="registration-text">Підтверди пароль</p>
                <div class="password-wrapper">
                    {{ registration_form.password2 }}
                    <img src="{% static 'images/close_eye.svg' %}" alt="eye" class='password-eye' id='password2_eye'>
                </div>
            </div>
        </div>
    </form>

    <p class="error-text"></p>
    
    <div class="registration-btn-div">
        <button type='submit' form='registration_form' class='registration-btn'>Увійти</button>
    </div>
</div>