{% load static %}

<div class="set-container scrolls-container content-border-container">   
    <div class="set-container-header">
        <p class="set-container-header-title">Варіанти підпису</p>
        <img src="{% static 'images/edit_btn.svg' %}" alt="edit_btn" class="set-container-header-btn" id="sing_set">
    </div>

    <div class="set-container idle-container" id="sing_set_con">
        <div class="set-container-sign">
            <div class="sing-column">
                <div class="sing-row">
                    {% if request.user.profile.is_text_signature %}
                        <img src="{% static 'images/icons/checkbox_true.svg' %}" alt="checkbox" class="del-img checkbox" data-checkbox="true" id="is_text_signature_checkbox">
                    {% else %}
                        <img src="{% static 'images/icons/checkbox_false.svg' %}" alt="checkbox" class="del-img checkbox" data-checkbox="false" id="is_text_signature_checkbox">
                    {% endif %}
                    <p class="sing-row-text">Псевдонім автора</p>
                </div>
                <p class="create-post-text">{{ request.user.profile.pseudonym }}</p>
            </div>
            
            <div class="sing-column">
                <div class="sing-row">
                    {% if request.user.profile.is_image_signature %}
                        <img src="{% static 'images/icons/checkbox_true.svg' %}" alt="checkbox" class="del-img checkbox" data-checkbox="true" id="is_image_signature_checkbox">
                    {% else %}
                        <img src="{% static 'images/icons/checkbox_false.svg' %}" alt="checkbox" class="del-img checkbox" data-checkbox="false" id="is_image_signature_checkbox">
                    {% endif %}
                    <p class="sing-row-text">Мій електронний підпис</p>
                </div>

                <img class="profile-user-sing-image user-sign-board" src="{% if LOCAL == 'False' %}http://192.168.0.145:8020/media/{% else %}/media/{% endif %}{{ request.user.profile.signature }}" alt="avatar_sing" id="user_sign_board">
            </div>
        </div>
    </div>  
</div>