{% load static %}

<div class="set-container scrolls-container content-border-container">   
    <div class="set-container-header">
        <p class="set-container-header-title">Картка профілю</p>
        <img src="{% static 'images/edit_btn.svg' %}" alt="edit_btn" class="set-container-header-btn" id="pictire_set">
    </div>

    <form method="POST" class="set-container set-container-content idle-container" id="pictire_set_con">
        <div class="profile-user-image-container">
            <!-- <img class="profile-user-image avatar-img" src="{% static 'images/icons/indicator_active.svg' %}" alt="indicator"> -->
            <div class="status-wrapper">
                <img class="profile-user-image online-img-{{request.user.id}} avatar-img" src='/media/{{ request.user.profile.avatar }}' alt="indicator" id="avatar_img">
                <img class="status-img" src="{% static 'images/offline.svg' %}" alt="off">
            </div>
        </div>
        
        <div class="profile-username">
            <a href="{% url 'profile' user_id=user.profile.id action='watch' %}" class="username-text" id="username_text">{{ user.profile.pseudonym }}</a>
            <a href="{% url 'profile' user_id=user.profile.id action='watch' %}" class="pseudonym-text" id="pseudonym_text">{{ user.username }}</a>          
        </div>
    </form>
</div>
