
{% load static %}
<div class="context-menu context-menu-user hidden" id="context_menu_user">
    <div class="context-menu-header">
        <img src="{% static 'images/icons/interaction.svg' %}" alt="checkbox" class="del-img close-context-menu">
    </div>
    <div class="context-menu-block">
        <img src="{% static 'images/icons/black_img.svg' %}" alt="checkbox" class="del-img">
        <p class="context-menu-text">Медіа</p>
    </div>
    <div class="context-menu-hr"></div>
    <div class="context-menu-block" >
        <img src="{% static 'images/icons/leave.svg' %}" alt="checkbox" class="del-img">
        <p class="context-menu-text">Покинути групу</p>
    </div>
</div>