{% load static %}

{% for select_user in friend %}
    <div class="friends-container-block content-border-container">
        <div class="profile-user-image-container">
            <!-- <img class="profile-user-image online-img-{{select_user.id}} avatar-img" src="{% static 'images/icons/indicator.svg' %}" alt=""> -->
            <div class="status-wrapper">
                <img class="profile-user-image online-img-{{select_user.id}} avatar-img" src="{% if LOCAL == 'False' %}http://192.168.0.145:8020/media/{% else %}/media/{% endif %}{{ select_user.profile.avatar }}" alt="">
                <img class="status-img" src="{% static 'images/offline.svg' %}" alt="off">
            </div>
        </div>
        <div class="profile-username">
            <a href="{% url 'profile' user_id=select_user.id action='watch' %}" class="username-text" id="username_text">{{ select_user.profile.pseudonym }}</a>
            <a href="{% url 'profile' user_id=select_user.id action='watch' %}" class="pseudonym-text" id="pseudonym_text">{{ select_user.username }}</a>
        </div> 

        {% include 'friends_app/particals/buttons/friend_btn.html' %}
    </div>
{% endfor %}
